<%= form_for(@running_text) do |f| %>
        
    <div class='form-group'>
        <label class='control-label'>Message</label>
        <%= f.text_area :message, :Class=>"form-control", rows: 10 %>
    </div>
    

    <hr>

    <div class='form-actions pull-right' style='margin-bottom:0'>
    <%= f.submit "Submit",  class: 'btn btn-success', data: { disable_with: "Please wait..." } %>
    </div>
<% end %>