<%= form_for(@emailsetting) do |f| %>
    <div class="form-group">
		<%= label_tag :email_time, "Daily Email Time", class: "control-label" %>
		<div class='input-group date' id='datetimepicker1'>
	        <%= f.text_field :email_time, :Class=>"form-control", onkeydown: "return false", required: true %>
	        <span class="input-group-addon">
	            <span class="glyphicon glyphicon-calendar"></span>
	        </span>
	    </div>
	</div>


    <hr>

    <div class='form-actions pull-right' style='margin-bottom:0'>
    <%= f.submit "Update",  class: 'btn btn-success', data: { disable_with: "Please wait..." } %>
    </div>
<% end %>

<script>
  $(document).ready(function(){
    $('#datetimepicker1').datetimepicker({
      format: "H:mm", showClear: true
    });
  });
</script>
