<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Header Board List</h3>
  </div>
  <div class="panel-body">
<!--     <div class="form-group">
      <%#= link_to new_header_board_path, class: "btn btn-primary" do %><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New Header Board <%# end %>
    </div> -->
    <table class="table table-stripped table-bordered" id="sortable">
      <thead>
        <th>Name</th>
        <th>Name Vietnam</th>
        <th>Visible</th>
        <th>Action</th>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>

<script>


</script>