
<div class="carousel-inner">
  <div class="item active">
    <input type="hidden" value="table1" class="hidden" />
    <div id="board1">
      <%= render "table" %>
    </div>
  </div>
  <div class="item ">
    <input type="hidden" value="table2" class="hidden" />
    <div id="board2">
      <%#= render "table2" %>
    </div>
  </div>


  <% @big_data.each_with_index do |big_dat, index| %>

    <div class="item ">
      <input type="hidden" value="<%= big_dat.first.to_s %>" class="hidden" />
      <div id="detail_graph_<%= big_dat.first %>">
        <%#= render "detail_graph", :big => big_dat %>
      </div>
    </div>
  <% end %>

</div>

<script>
$(function(){

  //draw_graph()
  $('#myCarousel').on('slid.bs.carousel', function() {

    //$("canvas").attr("width", "900").attr("height", "675")
    //$("canvas").css("width", "900").css("height", "675")
//var a = carouselData.$element.find('.item.active')

    line_no = $(this).data('bs.carousel').$element.find('.active .hidden').val();

    if(line_no=="table1")
    {
      location.reload();
    }

    $.get("/boards", {refresh: true, line_no: line_no}, null, "script");

    //delete(line_no)
//alert(line_no)

    //draw_graph()

  })

});
</script>

