
<div class="carousel-inner">
  <div class="item active">
    <div id="board1">
      <%= render "table" %>
    </div>
  </div>
  <div class="item ">
    <div id="board2">
      <%= render "table2" %>
    </div>
  </div>


  <% @big_data.each_with_index do |big_dat, index| %>

    <div class="item ">
      <div id="detail_graph_<%= index %>">
        <%= render "detail_graph", :big => big_dat %>
      </div>
    </div>
  <% end %>

</div>