
<div class="carousel-inner">
  <div class="item active">
    <div id="board1">
      <%= render "table" %>
    </div>
  </div>
  <div class="item">
    <div id="board2">
      <%= render "table2" %>
    </div>
  </div>
  <div class="item">
    <div id="detail_graph">
      <%= render "detail_graph" %>
    </div>
  </div>