
<div class="row">
  <div class="col-md-6 header_board"><b><u>VISUAL BOARD</u></b><h3>LONG WAY VIETNAM</h3></div>
  <div class="col-md-2 header_board">
    <b><div id="clockbox" style="border:2px solid black; text-align:center"></div></b>
  </div>
  <div class="col-md-offset-1 col-md-3" style="font-size: 55px; " >
    <b><%= Date.today.strftime("%d %b %Y") %></b>
  </div>
</div>


<br>
<div id="myCarousel" class="carousel slide">

  <!-- Wrapper for slides -->

      <div id="board_graph">
        <%= render "graph" %>
      </div>


  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev" style="left: -20px;">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next" style="right: -20px;">
    <span class="icon-next"></span>
  </a>
</div>


<%= render "footer" %>

<script>
$(function(){

$('.carousel').carousel({
   interval: 15000 //changes the speed
  })


function GetClock(){
  var d=new Date();
  var nhour=d.getHours(),nmin=d.getMinutes(),nsec=d.getSeconds();
  if(nmin<=9) nmin="0"+nmin
  if(nsec<=9) nsec="0"+nsec;

  document.getElementById('clockbox').innerHTML=""+nhour+":"+nmin+":"+nsec+"";
}

GetClock();
setInterval(GetClock,1000);

});



$(document).ready(function(){
  
$(window).load(function() {

    $('#aa').bind('finished', function(){
        //Change text to something else after first loop finishes
        //$(this).marquee('destroy');
        showText();

        
        $(this).html($("#message").val())
         
            //Apply marquee plugin again
            .marquee({
              duration: 13000,
          gap: 0,
          //'left' or 'right'
          direction: 'left'
            })
    }).marquee({
    //speed in milliseconds of the marquee
    duration: 13000,
    gap: 0,
    //'left' or 'right'
    direction: 'left'
});
});


    function showText(){
        $.ajax({
            type:"GET",
            url:"/boards/new",
            data:{},
            success:function(data){
              $("#message").val(data.message);
            }
        });
    }
});


</script>




