
<div class="row">
  <div class="col-md-6 header_board"><b><u>MSB STITCHING VISUAL BOARD</u></b></div>
  <div class="col-md-2 header_board">
    <b><div id="clockbox" style="border:2px solid black; text-align:center"></div></b>
  </div>
  <div class="col-md-offset-1 col-md-3" style="font-size: 55px; " >
    <b><%= Date.today.strftime("%d %B %Y") %></b>
  </div>
</div>

<h3>PT. GLOBAL WAY INDONESIA</h3>

<div id="myCarousel" class="carousel slide">

  <!-- Wrapper for slides -->

      <div id="board_graph">
        <%= render "graph" %>
      </div>


  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev" style="left: -20px;">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next" style="right: -20px;">
    <span class="icon-next"></span>
  </a>
</div>


<script>
$('.carousel').carousel({
   interval: 40000 //changes the speed
  })


function GetClock(){
  var d=new Date();
  var nhour=d.getHours(),nmin=d.getMinutes(),nsec=d.getSeconds();
  if(nmin<=9) nmin="0"+nmin
  if(nsec<=9) nsec="0"+nsec;

  document.getElementById('clockbox').innerHTML=""+nhour+":"+nmin+":"+nsec+"";
}


$(function(){
GetClock();
setInterval(GetClock,1000);

})

// function refresh(){
//     //get the mins of the current time
//     var hours = new Date().getHours();
//     var mins = new Date().getMinutes();
//     var secs = new Date().getSeconds();

//     $.get("/boards", {refresh: true}, null, "script");


// }
  //id = setInterval(refresh, 2000);



function clear_interval(id){
  window.clearInterval(id);
}


</script>

