<% @target_and_opr = current_user.line.reports.where("tanggal = ?",Date.today).first %>
<% @target_and_opr.detailreports.last %>

<%= form_for(@target_and_opr, :remote=>true) do |f| %>
<%= f.fields_for :detailreports, @target_and_opr.detailreports.last do |detailreport| %>

    <label>Remark</label>
    <%= detailreport.text_area :remark, class: "form-control", rows: 2 %>

  <div class="row">
    <div class="col-md-12">
       <div class="pull-right"><%= f.button :enter, class: "btn btn-success" %></div>
  </div>
<% end %>
<% end %>