<script>
// where our WebSockets logic will go later
      var socket, host;
      host = "ws://<%= Socket.ip_address_list[1].ip_address.to_s %>:3005";

      function connect() {
        try {
          socket = new WebSocket(host);

          //addMessage("Socket State: " + socket.readyState);

          socket.onopen = function() {
            status("Run");
          }

          socket.onclose = function() {
            status("Disconnected");
          }

          socket.onmessage = function(msg) {
            //status( msg.data);
          }
        } catch(exception) {
          status(exception);
        }
      }

      function status(msg){

        var ok = ""
        if (msg == 'Run'){
          ok = "<div class='status_signal connect'></div>"
        }else {
          ok = "<div class='status_signal disconnect'></div>"
        }

        $("#status").html("<span>status: </span>"+ok);
      }

      function proses(msg) {
         msg = msg.split("_")[0];
        if(msg == "on"){
          $("#on").hide();
          $("#off").show();
          $("#machine_problem_status").html("ON");
        }else if(msg == "off"){
          $("#on").show();
          $("#off").hide();
          $("#machine_problem_status").html("OFF");
        }
      }

      function send(status) {
        try {
          socket.send(status);
          proses(status);
          $.get("/reports", {message: status}, null, "script");
        } catch(exception) {
          status("Failed To Send")
        }

      }

      $(function() {
        connect();
      });


      $("#disconnect").click(function() {
        socket.close()
      });


      $( "#connect" ).click(function() {
               location.reload(true);
      });

</script>